* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, p {
    margin-bottom: 0;
}
html, body {
    width: 100%;
    font-family: Helvetica, sans-serif;
}
body {
    display: grid;
    /* grid-template-columns: 150px auto 150px; */
    grid-template-rows: auto 1fr 1fr auto;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 1400px;
    /* background: hsla(0, 0%, 95%, 1); */
}
.cursor-grab {
    cursor: grab;
}
.cursor-grabbing {
    cursor: grabbing;
}
.header {
    background-color: hsla(198, 100%, 70%, 1);
}
.nav {
    /* height: 80px; */
    /* height: 15vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    padding-left: 0.8em;
}
.nav h1 {
    text-align: center;
}
.nav a, .footer a {
    width: auto;
    height: auto;
}
.nav a:hover, .footer a:hover {
    width: auto;
    height: auto;
    font-size: initial;
}

.nav__logo {
    /* height: 60%; */
    width: 10vw;
    animation: logoAnime 5s linear infinite;
}
.nav__phone {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.nav__phone span {
    font-size: calc(0.8rem + 0.6vw);
    text-align: center;
}
span {
border: 1px solid grey;
padding: 0 1em;
}
.main {
    grid-row: 2/3;
    display: grid;
    /* grid-template-rows: repeat(2, auto); */
    grid-template-columns: 150px auto 150px;
    /* width: inherit; */
    /* max-width: inherit; */
    /* width: 90%; */
    /* width: 50%; */
    /* margin: auto; */
    /* margin-top: 2em; */
    /* overflow: hidden; */
    /* overflow: auto; */
    /* box-shadow: 0 1px 8px darkgrey; */
    /* padding: 2%; */
    /* border: 1px solid lightgrey; */
    /* outline: 1px solid red; */
    /* position: relative; */
    /* z-index: 1; */
    background: hsla(0, 0%, 100%, 1);
}
.carousel {
    grid-column: 2/3;
}
.section {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    grid-gap: 1em;
}
.section__food, .section__drink {
    display: grid;
    place-items: center;
}
.section__image {
    width: 100%;
    width: 50%;
    padding: 1em;
    cursor: pointer;
}
.section p {
    text-align: center;
}
.section img {
    width: 100%;
    /* width: 50%; */
    display: block;
    margin: auto;
}
.section__food {
    /* grid-row: 2/3; */
}
.section__drink {
    /* grid-row: 2/3; */
}

.slider {
    display: flex;
    /* position: relative; */
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 5%;
    padding: 4%;
    /* width: 300%; */
    /* position: relative; */
    /* z-index: 0; */
/* box-shadow: 0 0 4px 2px #0088ff;
    border: 1px solid grey;
    background: #fafafa; */
    user-select: none;
    /* transition: all 1s; */
}
.slider-animation {
    /* border: 5px solid red; */
    animation: sliderAnimation 1s forwards;
}
@keyframes sliderAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-32%);
    }

}
.slider__item {
    /* flex-basis: 30%; */
    width: 30%;
    flex-shrink: 0;
    
    /* padding: 1.5vw; */
    /* padding-right: 0; */
    /* margin: 1%; */
    /* margin-right: 0; */
}


.slider__item img {
    display: block;
    width: 100%;
    border-radius: 0.5em;
    touch-action: none;
    pointer-events: none;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: hsla(198, 100%, 70%, 1);
}
/* animations */
@keyframes logoAnime {
    0% {
        /* width: 10vw; */
        transform: rotate(0);
    }
    25% {
        /* width: 8vw; */
        /* transform: rotate(0); */
    }
    50% {
        /* width: 10vw; */
        /* transform: rotate(0); */
    }
    75% {
        /* width: 8vw; */
        /* transform: rotate(0); */
    }
    100% {
        /* width: 10vw; */
        transform: rotate(360deg);
    }
}

/* media */
@media (max-width: 700px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        padding-left: 0;
    }
    .nav h1 {
        font-size: calc(1.375rem + 0.6vw);
    }
    .nav__logo {
        grid-row: 1/3;
        width: 15vw;
    }
    .nav__phone {
        grid-column: 2/3;
    }
}

@media (max-width: 400px) {
    .nav__logo {
        /* transform: rotate(90deg); */
    }
}